<!--This is a partial view of footer element-->
<footer class="footer border-top text-muted text-center">
    <div class="container">
        Copyright  &copy; Book Store @DateTime.Now.Year
        <!--Custom tag helper-->
        <custom-email my-email="tahirat97@gmail.com"></custom-email>
    </div>
</footer>
