@model ChangePasswordModel

@{
    ViewBag.Title = "Change password | Bookstore";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!--environment tag helpers-->
    <environment include="Development">
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        @*<link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />*@
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
              asp-fallback-href="~/lib/twitter-bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              crossorigin="anonymous">
    </environment>
    <link href="~/lib/css/Site.css" rel="stylesheet" />
    <link href="~/lib/images/books.svg" rel="shortcut icon" type="image/svg" />
</head>
<body>
    <div class="container">
        <h4 class="display-4 text-center">Change password</h4>
        <hr />
        <div class="row">
            <div class="col-md-4 offset-4">
                @if(ViewBag.PasswordChangeStatus)
                { 
                    <div class="alert alert-success" role="alert">
                        <strong>Password has been updated successfully</strong>
                    </div>
                }
                <form asp-action="ChangePassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="CurrentPassword" class="control-label"></label>
                        <input asp-for="CurrentPassword" class="form-control" />
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword" class="control-label"></label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmNewPassword" class="control-label"></label>
                        <input asp-for="ConfirmNewPassword" class="form-control" />
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Change password" class="btn btn-primary" />
                        <a class="btn btn-secondary float-right" asp-controller="Home" asp-action="Index">Return to home</a>
                    </div>
                </form>
            </div>
        </div>


    </div>
</body>
</html>