@model IEnumerable<BookStoreApplication.Models.BookModel>
@{
    ViewBag.Title = "All Books";
}

<!--using asp-route-all-data anchor tag helper-->
@{
    var parameters = new Dictionary<string, string>()
    {
        {"name", "tahir" },
        {"app", "bookstore" }
    };

}

<div class="container">
    <h3 class="display-4">All Books</h3>
    <div class="row">
        @foreach (var book in Model)
        {
            <div class="col-md-4">
                <partial name="_BookThumbnail" model="@book"/>
                
            </div>
        }

    </div>
</div>
